#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*{
    font-family: cursive;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    background-image: url('/fon.gif');
    background-size: cover;
    background-attachment: fixed;
}